vignettes/*
inst/website
*Rproj*
*.Rhistory*
^plant.Rcheck$
.Rproj.user
*.png
*.pdf 

*~

inst*
*.cppx
*.hx
*.hppx
*.cux
*.cuhx

*.gch
*.o
*.so
*.cu_o
exec_*

*.txt
*.out
*.test

*.swp
*.swo
*.swn

tags
1
